body {
    background: url(assets/camera-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.background-overlay {
    background-color: rgba(0, 0, 0, 0.507);
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
}

#play {
    display: initial;
}

#winner {
    display: none;
}

#guess-box {
    display: none;
}

#loser {
    display: none;
}

#lossSound {
    display: none;
}

.play-bg {
    background: rgba(31, 28, 28, 0.753);
    border:  rgba(31, 28, 28, 0.527);
    font-size: 60px;
}

#stats-win {
    display: none;
}

#stats-lose {
    display: none;
}