body {
    background: url(assets/camera-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.background-overlay {
    background-color: rgba(0, 0, 0, 0.507);
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
}

.definitionArea {
    display: none;
    color: white;
}

div hr {
    background-color: white;
    height: 2px;
    width: 100%;
    margin: 1rem 0;
}

#play {
    display: initial;
}

#winner {
    display: none;
}

#guess-box {
    display: none;
}

#loser {
    display: none;
}

#lossSound {
    display: none;
}

.play-bg {
    background: rgba(85, 78, 78, 0.753);
    border:  rgba(85, 78, 78, 0.753);
    font-size: 60px;
}

#stats-win {
    display: none;
}

#stats-lose {
    display: none;
}